
/*Larger Screens*/

*{
 -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
	background-color: rgba(0, 0, 0, 0.11);
}



.home{
  width: 100vw;
  height: 90vh;
  margin: 2.5%;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.11);
}


.main{
  width: 60%;
  height: 100%;
  margin: auto;
  overflow: scroll;
  z-index: 1;
  box-shadow:  0 0 10px rgba(0,0,0,1);
}
    
.btn-default.type{
  background: none;
  max-height: 124px;

}

.icon-img{
  background: url("images/image.png");
  height: 60px;
  width: 74px;
  background-size: cover;
  float: left;
  margin-right: 5%;
}

.type{
  padding: 20px;
  overflow: hidden;
  border: 1px solid black;
}

/*ACCOUNTS-MENU*/
.accounts-list{
  width: 60%;
  height: 100%;
  max-height: 100%;
  float: left;
  overflow: scroll;
  position: absolute; 
  right: -1250px; 
  top: 0; 
  z-index: 2;
  border: 2px solid #868686;
  box-shadow:  0 0 10px rgba(0,0,0,0.6);
  background: #f2f2f2;
}

.account{
  padding: 20px;
  overflow: hidden;
  border: 1px solid black;
}


/*TRANSACTIONS*/
.transactions-list{
  width: 60%;
  height: 100%;
  float: left;
  margin: auto;
  overflow: auto;
  position: absolute;
  right: -1250px; 
  top: 0;
  z-index: 3;
  border: 2px solid #868686;
  box-shadow:  0 0 10px rgba(0,0,0,1);
}


.transaction{
  padding: 20px;
  overflow: hidden;
  border: 1px solid black;
}

.p-bar{

     margin-left:13.5%;

    }

progress[value]{
  background-color: gray;
  height: 5%;
  width: 80%;
  border-radius: 25px;
  padding: .15%;
  overflow: hidden;
  margin-bottom: 1%
  }

  

.sub-totals{
  display: flex;
  padding:0px;
}

.sub-totals h5{
  flex-grow: 1;
  text-align: right;
}

.month{
  margin-left:5%;
}

.totals{
  margin-top:2%;
}

/*Tablet Size Screens*/
@media only screen and (width: 768px){


  .home{
      padding:0px;
      width: 100vw;
      height:100vh;
      margin:0px;

     }

    .main{
      width: 100%;
      height: 100%;
    }


    .btn-default.type{
      background-color:white;
    }


    /*ACCOUNTS-MENU*/
    .accounts-list{
      width: 85%;
      height: 100%;
      max-height: 100%;
      overflow: scroll;
      position: absolute; 
      right: -1000px; 
      top: 0; 
      z-index: 2;
      border: 2px solid #868686;
    }

    .account{
      padding: 20px;
      overflow: hidden;
      border: 1px solid black;
    }


    /*TRANSACTIONS*/
    .transactions-list{
      width: 70%;
      height: 100%;
      float: left;
      margin: auto;
      overflow: auto;
      position: absolute;
      right: -1000px; 
      top: 0;
      z-index: 3;
      border: 2px solid #868686;
      box-shadow:  0 0 10px rgba(0,0,0,0.6);
    }

    .transaction{
      padding: 20px;
      overflow: hidden;
      border: 1px solid black;
    }

    .p-bar{

     margin-left:14%;
     width: 80%

    }

      progress[value]{
      width: 90%;
      height: 3%;
      box-sizing: border-box;
      border-radius: 25px;
        }

    .sub-totals{
      display: flex;
      padding:0px;
    }

    .sub-totals h5{
      flex-grow: 1;
      text-align: right;
    }

/*End @media For Tablets*/
}


/*Phone Size Screens*/
@media only screen and (max-width: 767px){

     .home{
      padding:0px;
      width: 100vw;
      height:100vh;
      margin:0px;

     }



    .main{
      width: 100%;
      height: 100%;
    }

    .btn-default.type{
      background-color:white;
    }


    /*ACCOUNTS-MENU*/
    .accounts-list{
      width: 100%;
      height: 100%;
      max-height: 100%;
      overflow: scroll;
      position: absolute; 
      right: -1000px; 
      top: 0; 
      z-index: 2;
      border: 2px solid #868686;
    }

    .account{
      padding: 20px;
      overflow: hidden;
      border: 1px solid black;
    }


    /*TRANSACTIONS*/
    .transactions-list{
      width: 100%;
      height: 100%;
      float: left;
      margin: auto;
      overflow: auto;
      position: absolute;
      right: -1000px; 
      top: 0;
      z-index: 3;
      border: 2px solid #868686;
      box-shadow:  0 0 10px rgba(0,0,0,0.6);
    }

    .transaction{
      padding: 20px;
      overflow: hidden;
      border: 1px solid black;
    }


    .p-bar{

     margin-left:25%;
    

    }

      progress[value]{
      background-color: ;
      width: 90%;
      height: 3%;
      display:inline;
      box-sizing: border-box;
      border-radius: 25px;

        }

    .sub-totals{
      display: flex;
      padding:0px;
    }

    .sub-totals h5{
      flex-grow: 1;
      text-align: right;
    }

/*End @media*/
}
