
<!--Account Panel-->

<div class="panel accounts-list">

    <!-- Account Panel Header -->

    <div class="panel-heading text in-line">

        <!-- Back Icon -->
          <button type="button" class="btn btn-default back" aria-label="Left Align">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </button>

        <!--Account Summary & Progress Bar  -->
        <div class="account-summary">
            <h1>ACCOUNT SUMMARY</h1>
            <progress max="1000" value="500"></progress>
        </div>

        <!-- Summary   -->
        <div class ="totals">

            <div class ="sub-totals">
                <input type="checkbox" name="Minium Payment"> Minimun Payment
                  <h5>$000.000.00</h5>
            </div>

            <div class ="sub-totals">
                <input type="checkbox" name="Minium Payment"> Minimun Payment
                  <h5>$000.000.00</h5>
            </div>  

            <div class ="sub-totals">
                <input type="checkbox" name="Minium Payment"> Minimun Payment
                  <h5>$000.000.00</h5>
              </div>

            <div class ="sub-totals">
                <input type="checkbox" name="Minium Payment"> Minimun Payment
                  <h5>$000.000.00</h5>
            </div> 

        </div> 

    <!-- End Header -->
    </div>



    <!-- Account Panel Body -->

    <!-- Account Categor -->
    <div class="btn-default account">
        <div class="icon-img"></div>
          <label>CREDICARD BALANCE</label>
            <h3>$2.800.00</h3>
    </div>

    <div class="btn-default account">
        <div class="icon-img"></div>
          <label>CREDICARD BALANCE</label>
            <h3>$2.800.00</h3>
    </div>

    <div class="btn-default account">
        <div class="icon-img"></div>
          <label>CREDICARD BALANCE</label>
            <h3>$2.800.00</h3>
    </div> 

    <div class="btn-default account">
        <div class="icon-img"></div>
          <label>CREDICARD BALANCE</label>
            <h3>$2.800.00</h3>
    </div> 

    <div class="btn-default account">
        <div class="icon-img"></div>
          <label>CREDICARD BALANCE</label>
            <h3>$2.800.00</h3>
    </div> 

    <div class="btn-default account">
        <div class="icon-img"></div>
          <label>CREDICARD BALANCE</label>
            <h3>$2.800.00</h3>
    </div> 

    <div class="btn-default account">
        <div class="icon-img"></div>
          <label>INVESTMENTS</label>
            <h3>$2.800.00</h3>
    </div> 

    <div class="btn-default account">
        <div class="icon-img"></div>
          <label>CHARITY</label>
            <h3>$2.800.00</h3>
    </div>

<!-- End Account Panel -->
</div>
