

<!-- Transactions Panel -->
<div class="panel transactions-list">


    <!-- Transactions Panel Header -->
    <div class="panel-heading text in-line">
        <button type="button" class="btn btn-default back-one" aria-label="Left Align">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default month"name="Month">Month</button>
    </div>

      <!-- Transactions Panel Body -->

      <!-- Transactions -->
    <div class="btn-default transaction">
        <div class="icon-img"></div>
          <label>Bed Bath & Beyond</label>
            <h3>$283.57</h3>
    </div> 

    <div class="btn-default transaction">
        <div class="icon-img"></div>
          <label>Angel Island</label>
            <h3>$283.57</h3>
    </div> 

    <div class="btn-default transaction">
          <div class="icon-img"></div>
          <label>Fresh Roll</label>
            <h3>$283.57</h3>
    </div> 

    <div class="btn-default transaction">
          <div class="icon-img"></div>
          <label>Lyft</label>
            <h3>$283.57</h3>
    </div> 

    <div class="btn-default transaction">
          <div class="icon-img"></div>
          <label>Whole Foods</label>
            <h3>$2.800.00</h3>
    </div> 

    <div class="btn-default transaction">
          <div class="icon-img"></div>
          <label>Star Bucks</label>
            <h3>$2.800.00</h3>
    </div> 

     <div class="btn-default transaction">
          <div class="icon-img"></div>
          <label>Other</label>
            <h3>$2.800.00</h3>
    </div> 

     <div class="btn-default transaction">
          <div class="icon-img"></div>
          <label>Netflix</label>
            <h3>$2.800.00</h3>
    </div> 

<!-- End Transactions Panel -->
</div>


